BasedOnStyle: Google

Language: Cpp
Standard: Latest

ColumnLimit: 90
IndentWidth: 2

DerivePointerAlignment: false
PointerAlignment: Left
QualifierAlignment: Left

AlignTrailingComments: Always
AlignConsecutiveDeclarations: None
AlignConsecutiveBitFields: Consecutive

IndentCaseLabels: true

EmptyLineBeforeAccessModifier: Always
IndentAccessModifiers: false
AccessModifierOffset: -1

NamespaceIndentation: None
FixNamespaceComments: true

MaxEmptyLinesToKeep: 1

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

PackConstructorInitializers: Never
BinPackParameters: false
BinPackArguments: false

AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline
AllowShortEnumsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeRangeBasedForLoopColon: true

BreakBeforeBraces: Stroustrup
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakBeforeConceptDeclarations: Always

RequiresClausePosition: WithFollowing
IndentRequiresClause: true
RequiresExpressionIndentation: OuterScope

BreakStringLiterals: true
BreakInheritanceList: AfterColon
BreakConstructorInitializers: BeforeColon

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  # Standard headers located in <> with no extension, such as <vector>.
  - Regex: '<([A-Za-z0-9\_\-]+)>'
    SortPriority: 1
    Priority: 1

  # SDL3 headers, such as <SDL3/SDL.h>.
  - Regex: '<SDL3/([A-Za-z0-9.\Q/-_\E])+>'
    SortPriority: 2
    Priority: 2

  # Headers in <> with extension and optional prefix, such as <centurion/centurion.hpp>.
  - Regex: '<([A-Za-z0-9\_\-]+\/)*(\.\.)*([A-Za-z0-9\_\-]+)\.([A-Za-z0-9\_\-]+)>'
    SortPriority: 3
    Priority: 3

  # Headers in "" with extension, such as "foo.hpp".
  - Regex: '"([A-Za-z0-9.\Q/-_\E])+"'
    SortPriority: 4
    Priority: 4