:root
{
  --code-foreground: #F97583;

  --fragment-keywordtype: #F97583;
  --fragment-keywordflow: #F97583;
  --fragment-keyword: #F97583;
  --fragment-token: #FFB97B;
  --fragment-link: #B392f0;
  --fragment-comment: #959DA5;
}

/* light-mode variable overrides go here */
html {
}

/* dark-mode variable overrides go here */
html.dark-mode {
  --note-color: rgba(55, 49, 10, 0.5);
  --note-color-dark: rgb(255, 246, 86);
  --note-color-darker: rgba(255, 246, 86, 0.9);

  --warning-color: rgba(171, 0, 0, 0.5);
  --warning-color-dark: rgb(232, 43, 43);
  --warning-color-darker: rgb(202, 43, 43);
}